In [108]:
import warnings
warnings.filterwarnings("ignore")
import os
import pandas as pd 
import import_ipynb
from collections import Counter
from sklearn.preprocessing import LabelEncoder
from  my_functions import detect_outliers;
import numpy as np
path = str(os.getcwd()) + '\\Data\\'
train = pd.read_csv(path + 'train.csv')
test = pd.read_csv(path + 'test.csv')
IDtest = test["PassengerId"]
# detect outliers from Age, SibSp , Parch and Fare
Outliers_to_drop = detect_outliers(train,2,["Age","SibSp","Parch","Fare"])# check  - there is train. May be better dataset? 
train.drop(Outliers_to_drop, axis = 0).reset_index(drop=True);

In [109]:
train_len = len(train) # объединение тестовой и тренировочной выборок
print(train_len)
dataset =  pd.concat(objs=[train, test], axis=0).reset_index(drop=True)
dataset = dataset.fillna(np.nan);
dataset["Fare"] = dataset["Fare"].map(lambda i: np.log(i) if i > 0 else 0)
dataset["Cabin"] = pd.Series([i[0] if not pd.isnull(i) else 'X' for i in dataset['Cabin'] ]) # добавление X как идентификатора для пассажиров,
#у которых отсутствут каюта
Ticket = [] # поиск префиксса у билета, если таковой отстствует, тогда создание своего префикса
for i in list(dataset.Ticket):
    if not i.isdigit() :
        Ticket.append(i.replace(".","").replace("/","").strip().split(' ')[0]) #Take prefix
    else:
        Ticket.append("X")
dataset["Ticket"] = Ticket
dataset["Pclass"] = dataset["Pclass"].astype("category")

891

In [110]:

dataset["Embarked"] = dataset["Embarked"].fillna("S")
dataset["Sex"] = dataset["Sex"].map({"male": 0, "female":1})
dataset_title = [i.split(",")[1].split(".")[0].strip() for i in dataset["Name"]]
dataset["Title"] = pd.Series(dataset_title)
dataset["Title"] = dataset["Title"].replace(['Lady', 'the Countess','Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
dataset["Title"] = dataset["Title"].map({"Master":0, "Miss":1, "Ms" : 1 , "Mme":1, "Mlle":1, "Mrs":1, "Mr":2, "Rare":3})
dataset["Title"] = dataset["Title"].astype(int)
dataset.drop(labels = ["Name"], axis = 1, inplace = True)

In [111]:
# определение размера семьи, разделение на три категории
dataset["Fsize"] = dataset["SibSp"] + dataset["Parch"] + 1
dataset['Single'] = dataset['Fsize'].map(lambda s: 1 if s == 1 else 0)
dataset['SmallF'] = dataset['Fsize'].map(lambda s: 1 if  s == 2  else 0)
dataset['MedF'] = dataset['Fsize'].map(lambda s: 1 if 3 <= s <= 4 else 0)
dataset['LargeF'] = dataset['Fsize'].map(lambda s: 1 if s >= 5 else 0)
dataset.head()

,Age,Cabin,Embarked,Fare,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,Fsize,Single,SmallF,MedF,LargeF
0,22.0,X,S,1.981001,0,1,3,0,1,0.0,A5,2,2,0,1,0,0
1,38.0,C,C,4.266662,0,2,1,1,1,1.0,PC,1,2,0,1,0,0
2,26.0,X,S,2.070022,0,3,3,1,0,1.0,STONO2,1,1,1,0,0,0
3,35.0,C,S,3.972177,0,4,1,1,1,1.0,X,1,2,0,1,0,0
4,35.0,X,S,2.085672,0,5,3,0,0,0.0,X,2,1,1,0,0,0

In [112]:
# работа с заполнением пустых значений для age 
index_NaN_age = list(dataset["Age"][dataset["Age"].isnull()].index)
for i in index_NaN_age :
    age_med = dataset["Age"].median()
    age_pred = dataset["Age"][((dataset['SibSp'] == dataset.iloc[i]["SibSp"]) & (dataset['Parch'] == dataset.iloc[i]["Parch"]) & (dataset['Pclass'] == dataset.iloc[i]["Pclass"]))].median()
    if not np.isnan(age_pred) :
        dataset['Age'].iloc[i] = age_pred
    else :
        dataset['Age'].iloc[i] = age_med
#Continuous variable bins; qcut vs cut: https://stackoverflow.com/questions/30211923/what-is-the-difference-between-pandas-qcut-and-pandas-cut
#Fare Bins/Buckets using qcut or frequency bins: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.qcut.html

In [113]:
# пробую использовать дамми кодирование, лучше поробовать использовать свое 
dataset = pd.get_dummies(dataset, columns = ["Title"])
dataset = pd.get_dummies(dataset, columns = ["Embarked"], prefix="Em")
dataset = pd.get_dummies(dataset, columns = ["Cabin"],prefix="Cabin")
dataset = pd.get_dummies(dataset, columns = ["Ticket"], prefix="T")
dataset = pd.get_dummies(dataset, columns = ["Pclass"],prefix="Pc")

In [114]:
#dataset.drop(labels = ["PassengerId"], axis = 1, inplace = True)
dataset.head()

,Age,Fare,Parch,PassengerId,Sex,SibSp,Survived,Fsize,Single,SmallF,...,T_STONO,T_STONO2,T_STONOQ,T_SWPP,T_WC,T_WEP,T_X,Pc_1,Pc_2,Pc_3
0,22.0,1.981001,0,1,0,1,0.0,2,0,1,...,0,0,0,0,0,0,0,0,0,1
1,38.0,4.266662,0,2,1,1,1.0,2,0,1,...,0,0,0,0,0,0,0,1,0,0
2,26.0,2.070022,0,3,1,0,1.0,1,1,0,...,0,1,0,0,0,0,0,0,0,1
3,35.0,3.972177,0,4,1,1,1.0,2,0,1,...,0,0,0,0,0,0,1,1,0,0
4,35.0,2.085672,0,5,0,0,0.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1

In [115]:
dataset.to_csv("clean_ds.csv",index=False)
dataset

,Age,Fare,Parch,PassengerId,Sex,SibSp,Survived,Fsize,Single,SmallF,...,T_STONO,T_STONO2,T_STONOQ,T_SWPP,T_WC,T_WEP,T_X,Pc_1,Pc_2,Pc_3
0,22.0,1.981001,0,1,0,1,0.0,2,0,1,...,0,0,0,0,0,0,0,0,0,1
1,38.0,4.266662,0,2,1,1,1.0,2,0,1,...,0,0,0,0,0,0,0,1,0,0
2,26.0,2.070022,0,3,1,0,1.0,1,1,0,...,0,1,0,0,0,0,0,0,0,1
3,35.0,3.972177,0,4,1,1,1.0,2,0,1,...,0,0,0,0,0,0,1,1,0,0
4,35.0,2.085672,0,5,0,0,0.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
5,25.0,2.135148,0,6,0,0,0.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
6,54.0,3.948596,0,7,0,0,0.0,1,1,0,...,0,0,0,0,0,0,1,1,0,0
7,2.0,3.048088,1,8,0,3,0.0,5,0,0,...,0,0,0,0,0,0,1,0,0,1
8,27.0,2.409941,2,9,1,0,1.0,3,0,0,...,0,0,0,0,0,0,1,0,0,1
9,14.0,3.403555,0,10,1,1,1.0,2,0,1,...,0,0,0,0,0,0,1,0,1,0
10,4.0,2.815409,1,11,1,1,1.0,3,0,0,...,0,0,0,0,0,0,0,0,0,1
11,58.0,3.279030,0,12,1,0,1.0,1,1,0,...,0,0,0,0,0,0,1,1,0,0
12,20.0,2.085672,0,13,0,0,0.0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
13,39.0,3.442819,5,14,0,1,0.0,7,0,0,...,0,0,0,0,0,0,1,0,0,1
14,14.0,2.061048,0,15,1,0,0.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
15,55.0,2.772589,0,16,1,0,1.0,1,1,0,...,0,0,0,0,0,0,1,0,1,0
16,2.0,3.371597,1,17,0,4,0.0,6,0,0,...,0,0,0,0,0,0,1,0,0,1
17,30.0,2.564949,0,18,0,0,1.0,1,1,0,...,0,0,0,0,0,0,1,0,1,0
18,31.0,2.890372,0,19,1,1,0.0,2,0,1,...,0,0,0,0,0,0,1,0,0,1
19,25.0,1.977547,0,20,1,0,1.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
20,35.0,3.258097,0,21,0,0,0.0,1,1,0,...,0,0,0,0,0,0,1,0,1,0
21,34.0,2.564949,0,22,0,0,1.0,1,1,0,...,0,0,0,0,0,0,1,0,1,0
22,15.0,2.083085,0,23,1,0,1.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
23,28.0,3.569533,0,24,0,0,1.0,1,1,0,...,0,0,0,0,0,0,1,1,0,0
24,8.0,3.048088,1,25,1,3,0.0,5,0,0,...,0,0,0,0,0,0,1,0,0,1
25,38.0,3.446410,5,26,1,1,1.0,7,0,0,...,0,0,0,0,0,0,1,0,0,1
26,25.0,1.977547,0,27,0,0,0.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
27,19.0,5.572154,2,28,0,3,0.0,6,0,0,...,0,0,0,0,0,0,1,1,0,0
28,25.0,2.064226,0,29,1,0,1.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
29,25.0,2.066331,0,30,0,0,0.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,2.047693,0,1280,0,0,NaN,1,1,0,...,0,0,0,0,0,0,1,0,0,1
1280,6.0,3.048088,1,1281,0,3,NaN,5,0,0,...,0,0,0,0,0,0,1,0,0,1
1281,23.0,4.537961,0,1282,0,0,NaN,1,1,0,...,0,0,0,0,0,0,1,1,0,0
1282,51.0,3.673766,1,1283,1,0,NaN,2,0,1,...,0,0,0,0,0,0,0,1,0,0
1283,13.0,3.008155,2,1284,0,0,NaN,3,0,0,...,0,0,0,0,0,0,0,0,0,1
1284,47.0,2.351375,0,1285,0,0,NaN,1,1,0,...,0,0,0,0,0,0,0,0,1,0
1285,29.0,3.092178,1,1286,0,3,NaN,5,0,0,...,0,0,0,0,0,0,1,0,0,1
1286,18.0,4.094345,0,1287,1,1,NaN,2,0,1,...,0,0,0,0,0,0,1,1,0,0
1287,24.0,1.981001,0,1288,0,0,NaN,1,1,0,...,0,0,0,0,0,0,1,0,0,1
1288,48.0,4.371976,1,1289,1,1,NaN,3,0,0,...,0,0,0,0,0,0,1,1,0,0
1289,22.0,2.050913,0,1290,0,0,NaN,1,1,0,...,0,0,0,0,0,0,1,0,0,1
1290,31.0,2.045536,0,1291,0,0,NaN,1,1,0,...,0,0,0,0,0,0,1,0,0,1
1291,30.0,5.105137,0,1292,1,0,NaN,1,1,0,...,0,0,0,0,0,0,1,1,0,0
1292,38.0,3.044522,0,1293,0,1,NaN,2,0,1,...,0,0,0,0,0,0,1,0,1,0
1293,22.0,4.084294,1,1294,1,0,NaN,2,0,1,...,0,0,0,0,0,0,1,1,0,0
1294,17.0,3.852273,0,1295,0,0,NaN,1,1,0,...,0,0,0,0,0,0,1,1,0,0
1295,43.0,3.322183,0,1296,0,1,NaN,2,0,1,...,0,0,0,0,0,0,1,1,0,0
1296,20.0,2.629187,0,1297,0,0,NaN,1,1,0,...,0,0,0,0,0,0,0,0,1,0
1297,23.0,2.351375,0,1298,0,1,NaN,2,0,1,...,0,0,0,0,0,0,1,0,1,0
1298,50.0,5.354225,1,1299,0,1,NaN,3,0,0,...,0,0,0,0,0,0,1,1,0,0
1299,25.0,2.043918,0,1300,1,0,NaN,1,1,0,...,0,0,0,0,0,0,1,0,0,1
1300,3.0,2.622855,1,1301,1,1,NaN,3,0,0,...,0,0,0,0,0,0,0,0,0,1
1301,25.0,2.047693,0,1302,1,0,NaN,1,1,0,...,0,0,0,0,0,0,1,0,0,1
1302,37.0,4.499810,0,1303,1,1,NaN,2,0,1,...,0,0,0,0,0,0,1,1,0,0
1303,28.0,2.050913,0,1304,1,0,NaN,1,1,0,...,0,0,0,0,0,0,1,0,0,1
1304,25.0,2.085672,0,1305,0,0,NaN,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1305,39.0,4.690430,0,1306,1,0,NaN,1,1,0,...,0,0,0,0,0,0,0,1,0,0
1306,38.5,1.981001,0,1307,0,0,NaN,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1307,25.0,2.085672,0,1308,0,0,NaN,1,1,0,...,0,0,0,0,0,0,1,0,0,1
1308,16.0,3.107198,1,1309,0,1,NaN,3,0,0,...,0,0,0,0,0,0,1,0,0,1